html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #494646;
}








/*themes*/
.about-theme {
  background-image: url(../images/themes/about-theme.jpg);
  background-size: cover;
}

.category-theme{
  background-image: none;
  background-size: cover;
  background-position: center;
}








/* Footer setup */
.footer {
  margin-top: auto;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.486);
  padding: 10px;
}

button {
  text-align: center;
  background-color: #cebb1067;
  border: none;
  padding-left: 10px;
  padding-right: 10px;
  height: 40px;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  font-size: 22px;
  cursor: pointer;
  margin: 5px;
}








/* page-specific containers */
.about-container {
  max-width: 800px;
  margin: 60px auto;
  padding: 10px;
}

#items-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}








/* Boxes + cards */
.title-box {
  background-color: rgba(172, 106, 106, 0.945);
  color: white;
  padding: 20px;
  border-radius: 10px 10px 0 0; /* rounded top only */
  text-align: center;
}

.content-box {
  background-color: rgba(90, 90, 90, 0.9);
  color: antiquewhite;
  padding: 25px;
  border-radius: 0 0 10px 10px; /* rounded bottom only */
}

.controls-box {
  background-color: rgba(0, 0, 0, 0.45);
  color: white;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.item-card {
  display: flex;
  gap: 15px;
  background-color: rgba(90, 90, 90, 0.85);
  padding: 15px;
  border-radius: 10px;
  align-items: center;
}








/* --- box stylings --- */
.content-box p {
  line-height: 1.6;
  margin-bottom: 20px;
}

/* profile links in about page */
.content-box ul {
  list-style: circle;
  padding: 0;
}

.content-box li {
  margin: 8px 0;
}

.content-box a {
  color: lightblue;
  text-decoration: none;
}

.content-box a:hover {
  text-decoration: underline;
}

.content-box img {
  margin-top: 20px;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}








.item-img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 8px;
}

.item-info {
  flex: 1;
}

.item-name {
  margin: 0;
}

.item-brand {
  margin: 5px 0;
  color: white;
}

.item-price {
  color: lightgreen;
}








#keyword-filters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

#sort-options {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}




/* Helps with \t or \n in json description */
#description {
  white-space: pre-wrap;
}